
#pomodoro {
    position: relative;

}

.time-overlay {
    position: absolute;
    width: 40vh;
    height: 40vh;
    background-color: #000000;
    top: 250px;
    left: 250px;

}


img {
    width: 40vh;
    height: 40vh;
}
